<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="query">
            <ul>
                <li v-if="!isSearching" v-for="(book, index) in books">
                     {{book}}
                </li>
                <li v-if="isSearching" v-for="(book, index) in result" v-bind:key="book" v-bind:data-index="index">
                     {{book}}
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                query: '',
                books: [
                        'Kalkulus Dasar',
                        'Fisika Dasar',
                        'Aljabar Linier Elementer',
                        'Aljabar Abstrak',
                        'Algorima Pemrograman',
                ],
                isSearching: false,
                result: []

            },
            watch: {
                query: function () {
                    var vm = this
                    this.isSearching = true;
                    setTimeout(function () {

                        vm.result = vm.books.filter(function (book) {
                            return book.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
                        })
                    }, 500)
                }
            },
        })
    </script>
</body>

</html>